@@ -1,8 +1,13 @@
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
<h1>This is title page.</h1>
<hr/>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit.
    Ipsam architecto, illum fugiat, 
    vel ipsum animi consectetur sit eaque est totam pariatur deleniti 
    qui doloribus rem debitis omnis tempora dicta cupiditate?
</p>
<p>
    Lorem ipsum dolor sit amet consectetur, adipisicing elit. 
    Quia nemo fugiat, at, perferendis, 
    sint quidem aut reiciendis autem explicabo reprehenderit enim! Amet, 
    nam eaque sapiente dolorum voluptates maxime officia nihil.
</p>